@inherits LayoutComponentBase

<div class="top-bar">
    <a class="logo" href=""><img src="img/logo.svg" /></a>

    <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
        <img src="img/pizza-slice.svg" alt="pizza slice" />
        <div>Get Pizza</div>

    </NavLink>

    <NavLink href="myorders" class="nav-tab">
        <img src="img/bike.svg" alt="orders" />
        <div>My Orders</div>
    </NavLink>
</div>

<div class="content">
    @Body
</div>